:root {
  --color-primary-50:  239 249 246;
  --color-primary-100: 208 240 232;
  --color-primary-200: 161 225 209;
  --color-primary-300: 110 207 187;
  --color-primary-400: 0 201 166;
  --color-primary-500: 0 168 143;
  --color-primary-600: 0 140 114;
  --color-primary-700: 0 109 88;
  --color-primary-800: 0 79 64;
  --color-primary-900: 0 48 40;
  --color-primary-950: 0 30 25;
}
